<%- include('../partials/adminPartials/adminHeader.ejs') -%>
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Coupon List</h2>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" />
                    </div>
                    <div class="col-lg-4 col-md-6 me-auto">
                        <a href="/admin/addCoupon" class="btn btn-primary"><i class="icon material-icons md-add_circle"></i>Add New
                            Coupon</a>
                    </div>
                </div>
                
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <% if (coupons.length> 0) {%>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Coupon Type</th>
                                <th>Discount Amount</th>
                                <th>Minimum Cart Amount</th>
                                <th>Expired</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                                <% for(i=0;i<coupons.length;i++){ %>

                                    <tr>
                                        <td>
                                            <a href="#" class="itemside">
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">
                                                        <%=coupons[i].couponName%>
                                                    </h6>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <%=coupons[i].discountType%>
                                        </td>
                                        <td>
                                            <%=coupons[i].discountAmount%>
                                        </td>
                                        <td>
                                            <%=coupons[i].minCartAmount%>
                                        </td>
                                        <td><%= coupons[i].expired.toISOString().slice(0, 10) %></td>
                                        <% if(coupons[i].status){%>
                                            <td><span class="badge rounded-pill alert-success"><%=coupons[i].status %></span></td>

                                        <% } else { %>
                                            <td><span class="badge rounded-pill alert-danger"><%=coupons[i].status %></span></td>
                                        <% } %>
                                        <td>
                                            <a href="/admin/editCoupon?id=<%= coupons[i]._id %>" class="btn btn-sm font-sm rounded btn-outline-secondary">
                                                <i class="material-icons md-edit"></i> Edit</a>
                                            <!-- <a href="/admin/deleteCoupon?id=<%= coupons[i]._id %>" class="btn btn-sm font-sm btn-outline-danger rounded" onclick="return confirm('Are you sure you want delete this item');"><i
                                                                                        class="material-icons md-delete_forever"></i> Delete</a> -->
                                        </td>

                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <% } else { %>
                                     <tr>Not found</tr>
                                     
                                     <% } %>
                </div>
            </div>
    </section>
    <%- include('../partials/adminPartials/adminFooter.ejs') %>