
<%- include('../partials/adminPartials/adminHeader.ejs') -%>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard</h2>
                <p>Whole data about your business here</p>
            </div>
            <div>
                <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Total Revenue</h6>
                            <span>₹<%= totalRevenue %></span>
                            <span class="text-sm"> Shipping fees are not included </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6>
                            <span><%= orderCount %></span>
                            <span class="text-sm"> Excluding orders in transit </span>
                        </div>
                    </article>
                </div>
            </div>
            <!-- <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Products</h6>
                            <span>9.856</span>
                            <span class="text-sm"> In 19 Categories </span>
                        </div>
                    </article>
                </div>
            </div> -->
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Monthly Earning</h6>
                            <span>₹<%=monthlyTotalRevenue %></span>
                            <span class="text-sm"> Based in your local time. </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Sale statistics</h5>
                        <canvas id="myChart" height="120px"></canvas>
                    </article>
                </div>
            </div>
            <!-- <div class="col-xl-4 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Revenue Base on Area</h5>
                        <canvas id="myChart2" height="217"></canvas>
                    </article>
                </div>>
            </div> -->
            <div class="col-xl-4 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Revenue Base on Area</h5>
                        <canvas id="myChart3" height="120px"></canvas>
                    </article>
                </div>
            </div>

        </div>
    </section>
<%- include('../partials/adminPartials/adminFooter.ejs') -%>

        <script>
            const revenue = (<%- JSON.stringify(dailyChart.map(item => item.dailyRevenue)) %>);
            const days =  (<%- JSON.stringify(dailyChart.map(item => item._id)) %>);

            (function ($) {
                    "use strict";

                    /*Sale statistics Chart*/
                    if ($('#myChart').length) {
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var chart = new Chart(ctx, {
                            // The type of chart we want to create
                            type: 'line',

                            // The data for our dataset
                            data: {
                                labels: days,
                                datasets: [{
                                    label: 'Daily Revenue',
                                    tension: 0.3,
                                    fill: true,
                                    backgroundColor: 'rgba(44, 120, 220, 0.2)',
                                    borderColor: 'rgba(44, 120, 220)',
                                    data:revenue,
                                }]
                            },
                            options: {
                                plugins: {
                                    legend: {
                                        labels: {
                                            usePointStyle: true,
                                        },
                                    }
                                }
                            }
                        });
                    } //End if

                    if ($('#myChart3').length) {
                    var ctx = document.getElementById("myChart3");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ["COD", "onlinePayment","wallet"],
                            datasets: [
                                {
                                    label: "Payment",
                                    backgroundColor: ["#50B77E", "#3BCAF0","#ff5722"],
                                    barThickness: 10,
                                    data: ['<%= codPayAmount %>', '<%= onlinePayAmount %>','<%= walletPayAmount%>']
                                }
                            ]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    labels: {
                                        usePointStyle: true,
                                    },
                                }
                            }
                        }
                    });
                }
                    /*Sale statistics Chart*/
                    // if ($('#myChart2').length) {
                    //     var ctx = document.getElementById("myChart2");
                    //     var myChart = new Chart(ctx, {
                    //         type: 'bar',
                    //         data: {
                    //             labels: ["900", "1200", "1400", "1600"],
                    //             datasets: [
                    //                 {
                    //                     label: "US",
                    //                     backgroundColor: "#5897fb",
                    //                     barThickness: 10,
                    //                     data: [233, 321, 783, 900]
                    //                 },
                    //                 {
                    //                     label: "Europe",
                    //                     backgroundColor: "#7bcf86",
                    //                     barThickness: 10,
                    //                     data: [408, 547, 675, 734]
                    //                 },
                    //                 {
                    //                     label: "Asian",
                    //                     backgroundColor: "#ff9076",
                    //                     barThickness: 10,
                    //                     data: [208, 447, 575, 634]
                    //                 },
                    //                 {
                    //                     label: "Africa",
                    //                     backgroundColor: "#d595e5",
                    //                     barThickness: 10,
                    //                     data: [123, 345, 122, 302]
                    //                 },
                    //             ]
                    //         },
                    //         options: {
                    //             plugins: {
                    //                 legend: {
                    //                     labels: {
                    //                         usePointStyle: true,
                    //                     },
                    //                 }
                    //             },
                    //             scales: {
                    //                 y: {
                    //                     beginAtZero: true
                    //                 }
                    //             }
                    //         }
                    //     });
                    // } //end if

                })(jQuery);
        </script>

