<%- include('../partials/adminPartials/adminHeader.ejs') %>
    <section class="content-main">
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="/admin/editCoupon?id=<%= coupon._id%>" method="post" onsubmit="return validateForm()">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Coupon Name</label>
                                <input type="text" placeholder="Type here" class="form-control" name="couponName" id="couponName" value="<%=coupon.couponName %>"/>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Discount Type</label>
                                <select class="form-select" name="discountType" id="discountType">
                                    <option value="Fixed Amount" <%=coupon.discountType==='Fixed Amount' ? 'selected' : '' %>>Fixed Amount</option>
                                    <option value="Percentage" <%=coupon.discountType==='Percentage' ? 'selected' : '' %>>Percentage</option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Discount Amount</label>
                                        <div class="row gx-2">
                                            <input placeholder="$" type="Number" class="form-control" id="discountAmount"
                                                name="discountAmount"  value="<%=coupon.discountAmount %>"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Minimum Cart Amount</label>
                                        <input placeholder="$" type="Number" class="form-control" id="minCartAmount"
                                            name="minCartAmount"  value="<%=coupon.minCartAmount %>"/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Max Discount Amount</label>
                                        <input placeholder="$" type="Number" class="form-control" id="maxDiscAmount"
                                            name="maxDiscAmount" value="<%=coupon.maxDiscAmount %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Expire Date</label>
                                <input type="date" class="form-control" id="product_name" name="expired" id="expired" value="<%= coupon.expired ? coupon.expired.toISOString().substr(0, 10) : '' %>"/>
                            </div>
                            <button class="btn btn-md rounded font-sm hover-up" >Update Coupon</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <script>
        function validateForm() {
            // Get the form elements
            console.log("validate");
            var couponName  = document.getElementsById("couponName").value.trim();
            console.log("hi", couponName);
            var discountAmount = document.getElementsById("discountAmount").value;
            var minCartAmount = document.getElementsById("minCartAmount").value;
            var maxDiscAmount = document.getElementsById("maxDiscAmount").value;
            var expireDate = document.getElementsById("expired").value;

            if (discountAmount <= 0 || minCartAmount <= 0 || maxDiscAmount <= 0) {
                toastr.error("Discount amount, minimum cart amount, and max discount amount must be positive numbers.");
                return false;
            }
            if (couponName === '') {
                toastr.error("Coupon name must not be empty.");
                return false;
            }
            var today = new Date().toISOString().slice(0, 10);
            if (expireDate < today) {
                toastr.error("Coupon expiration date must be greater than the current date.");
                return false;
            }

            return true;
        }
    </script>

    <%- include('../partials/adminPartials/adminFooter.ejs') %>