<%- include('../partials/userPartials/header.ejs') %>
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Checkout</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>Checkout</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- WISHLIST AREA START -->
    <div class="ltn__checkout-area mb-105">
        <form id="checkout-form" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__checkout-inner">
                            <div class="ltn__checkout-single-content mt-50">
                                <h4 class="title-2">Delivery Address</h4>
                                <div class="ltn__checkout-single-content-info">
                                    <div class="row">
                                        <div class="mb-5">
                                            <a href="/addAddress?page=checkout" class="theme-btn-1 btn btn-effect-1">
                                                <span class="d-inline-block fi">ADD NEW ADDRESS</span>
                                            </a>
                                        </div>
                                        <% if(addresses.length > 0 ){%>
                                            <% addresses.forEach((item)=> { %>
                                                <div class="col-lg-3 col-md-6 mt-3 ms-3 ">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <input type="radio"
                                                                value="<%=item.userName%>,<%=item.mobile%>,<%=item.alternativeMob%>,<%=item.address%>,<%=item.city%>,<%=item.state%>,<%=item.pincode%>"
                                                                name="selectAddress">
                                                            <h5 class="card-title">
                                                                <%= item.userName %>
                                                            </h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">
                                                                <%=item.mobile%>
                                                            </h6>
                                                            <p class="card-text">
                                                                <%=item.address%>,<%=item.city%> <br>
                                                                        <%=item.state%>,<%=item.pincode%>
                                                            </p>
                                                            <div>
                                                                <a href="/editAddress?id=<%=item._id%>&page=checkot" class="btn-outline-success-light"><i class="fas fa-edit"></i>
                                                                    Edit </a>
                                                                    <span><a href="/deleteAddress?id=<%=item._id%>&page=checkot" class="btn-outline-danger"><i class="fas fa-trash"></i></a></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>
                                            <% } else { %>
                                            <p class="text-danger"> Address Not Found..Please add your Address</p>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ltn__checkout-payment-method mt-50">
                                <h4 class="title-2">Payment Method</h4>
                                <div id="checkout_accordion_1 " style="color: black;">
                                    <% if(wallet !== null){ %>
                                        <% if(wallet.walletAmount >= Total) {%>
                                            <div class="card">
                                                <label>
                                                    <input type="radio" name="payment" value="wallet" id="wallet" />
                                                    Wallet payments
                                                </label>
                                                <div class="card-body">
                                                    <p>Wallet Amount : <%=wallet.walletAmount %></p>
                                                </div>
                                            </div>
                                            <% } %>
                                        <% } %>
                                    <div class="card">
                                        <label>
                                            <input type="radio" name="payment" value="COD" id="COD"/>
                                            Cash on delivery
                                        </label>
                                    </div>
                                    <div class="card">
                                        <label>
                                            <input type="radio" name="payment" value="onlinePayment" id="onlinePayment" />
                                            Razorpay
                                            <!-- <img src="img/icons/payment-3.png" alt="#"> -->
                                        </label>
                                    </div>
                                </div>

                                <div class="ltn__payment-note mt-30 mb-30">
                                    <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                                </div>
                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase mt-5" type="submit">Place order</button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="shoping-cart-total mt-50">
                                <h4 class="title-2">Cart Totals</h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Subtotal</td>
                                            <td id="total">&#8377;<%=Total %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Shipping and Handing</td>
                                            <td>&#8377;00.00</td>
                                        </tr>
                                        <tr>
                                            <td>Discount Amount</td>
                                            <td id="discountAmount">&#8377;00.00</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Grand Total</strong></td>
                                            <td id="grandtotal"><strong id="newTotal">&#8377;<%=Total %></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="appliedCouponName" name="appliedCouponName" value="">
                </div>
            </div>
        </form>
        <div class="container">
            <form id="coupon-form">
                <div class="cart-coupon mt-3">
                    <input type="text" name="cart-coupon" placeholder="Coupon code" id="code">
                    <button type="submit" class="btn theme-btn-2 btn-effect-2">Apply Coupon</button>
                    <p>Available Coupons..? <a href="#" id="show-coupons-link" data-bs-toggle="modal"
                            data-bs-target="#couponsModal">Click Here</a></p>
                </div>
            </form>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="couponsModal" tabindex="-1" aria-labelledby="couponsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="couponsModalLabel">Available Coupons</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <% coupons.forEach(coupon=>{ %>
                            <ul>
                                <% if(coupon.discountType == "Fixed Amount"){ %>
                                    <li><%=coupon.couponName %>: ₹<%=coupon.discountAmount %> off</li>
                                <% }else{%>
                                    <li>
                                        <%=coupon.couponName %>: <%=coupon.discountAmount %>% off
                                    </li>
                                <% } %>

                            </ul>

                        <% }) %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- WISHLIST AREA START -->

   

<%- include('../partials/userPartials/footer.ejs') %>
<script>


    $("#checkout-form").submit((e) => {
        e.preventDefault();
        const amount = document.getElementById("total").innerHTML;
        const totalAmount = document.getElementById("grandtotal").innerHTML;
        let address = $("input[name=selectAddress]:checked").val();
        let payment = $("input[name=payment]:checked").val();
        const couponName = $("#appliedCouponName").val();
        console.log("hii");
        if (address == "undefined") {
            toastr.error("please select a address")
        }
        console.log(address);
        $.ajax({
            url: "/checkout",
            method: "post",
            data: {
                amount: parseInt(amount.replace(/[^\d.]/g, '')),
                total: parseInt(totalAmount.replace(/[^\d.]/g, '')),
                address: address,
                payment: payment,
                couponName: couponName
            },
            success: (response) => {
                if (response.check == true) {
                    toastr.error("please select a address or Payment Method", "", {
                        timeOut: 2500,
                        progressBar: true
                    });
                } else if (response.stock == true) {
                    toastr.error(`${response.productName} is out of stock....!!! please check your cart..Available stock is ${response.stockCount}`, "", {
                        timeOut: 2500,
                        progressBar: true
                    });

                } else if (response.codSuccess == true) {
                    window.location.href = `/orderSuccess`;
                } else {
                    razorpayPayment(response.order)
                }
            }
        })
    })

    function razorpayPayment(order) {
        console.log("ONLINE PAAYMENT");

        var options = {
            "key": "rzp_test_B0cfXKkM2OrzLj", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Footies-Footwear", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id,
            "handler": function (response) {
                verifyPayment(response, order);
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }


    function verifyPayment(payment, order) {
        console.log("verify");
        const amount = document.getElementById("total").innerHTML;
        const totalAmount = document.getElementById("grandtotal").innerHTML;
        $.ajax({
            url: "/verifyPayment",
            method: "post",
            data: {
                payment,
                amount,
                totalAmount,
                order
            },
            success: (response) => {
                if (response.success) {
                    window.location.href = `/orderSuccess`
                } else {
                    alert('payment failed');
                }
            }
        })
    }

    // apply coupon
    $("#coupon-form").submit((e) => {
        e.preventDefault();
        const code = $("#code").val();
        const amount = document.getElementById("grandtotal").innerHTML;
        console.log("amount", amount);
        $.ajax({
            url: "/applyCoupon",
            method: "post",
            data: {
                code: code,
                amount: parseInt(amount.replace(/[^\d.]/g, ''))
            },
            success: (response) => {
                console.log(response);
                if (response.user) {
                    toastr.warning("Oops! This user has already used this coupon");
                } else if (response.status) {
                    toastr.warning("Oops! This coupon is not in use");
                } else if (response.cartAmount) {
                    toastr.warning("Oops! You can't use the coupon... Buy more");
                } else if (response.date) {
                    toastr.warning("Oops! Coupon date expired");
                } else if (response.amountkey) {
                    $("#appliedCouponName").val(response.couponName);
                    document.getElementById('discountAmount').innerText = response.discAmount;
                    document.getElementById('newTotal').innerHTML = response.disTotal;
                    toastr.success("Coupon Applyed")
                } else if (response.invalid) {
                    toastr.warning("Oops! Invalid coupon");
                }
            }
        });
    });

</script>
