<%- include('../partials/userPartials/header.ejs') %>
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">My Account</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="index.html"><span class="ltn__secondary-color"><i
                                            class="fas fa-home"></i></span> Home</a></li>
                            <li>My Account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- WISHLIST AREA START -->
<div class="liton__wishlist-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- PRODUCT TAB AREA START -->
                <div class="ltn__product-tab-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="ltn__tab-menu-list mb-50">
                                    <div class="nav">
                                        <a class="active show" data-bs-toggle="tab" href="#liton_tab_1_1">Account Details <i
                                                class="fas fa-user"></i></a>
                                        <a data-bs-toggle="tab" href="#liton_tab_1_3">Wallet<i
                                                class="fas fa-wallet"></i></a>
                                        <a data-bs-toggle="tab" href="#liton_tab_1_4">address <i
                                                class="fas fa-map-marker-alt"></i></a>
                                        <a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="tab-content">
                                    <div class="tab-pane fade  active show" id="#liton_tab_1_1">
                                        <div class="ltn__myaccount-tab-content-inner">
                                            <div class="ltn__form-box">
                                                <form action="#">
                                                    <div class="row mb-50">
                                                        <div class="col-md-12">
                                                            <label>User Name:</label>
                                                            <input type="text" name="ltn__name" value="<%=user.name %>">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>User Email:</label>
                                                            <input type="email" name="ltn__lastname" value="<%=user.email %>">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>Mobile:</label>
                                                            <input type="text" name="ltn__lastname" value="<%=user.mobile %>">
                                                        </div>
                                                    </div>
                                                    <!-- <fieldset>
                                                            <legend>Password change</legend>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <label>Current password (leave blank to leave
                                                                        unchanged):</label>
                                                                    <input type="password" name="ltn__name">
                                                                    <label>New password (leave blank to leave
                                                                        unchanged):</label>
                                                                    <input type="password" name="ltn__lastname">
                                                                    <label>Confirm new password:</label>
                                                                    <input type="password" name="ltn__lastname">
                                                                </div>
                                                            </div>
                                                        </fieldset> -->
                                                    <div class="btn-wrapper">
                                                        <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase"><a href=""></a>Edit
                                                            Profile</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="liton_tab_1_3">
                                        <div class="ltn__myaccount-tab-content-inner">
                                            <div>
                                                <h3><strong>MY WALLET AMOUNT:  ₹<%=walletData.walletAmount %></strong></h3>
                                            </div>
                                            <h5 class="mt-5">Wallet transactions</h5>
                                            <% if(walletData.wallet.length > 0){ %>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Time</th>
                                                            <th>Transaction Type</th>
                                                            <th>amount</th>
                                                        </tr>
                                                    </thead>
                                                    <% for(let i = walletData.wallet.length -1; i>=0; i--){ %>
                                                        
                                                    <tbody>
                                                        <td><%=walletData.wallet[i].date.toISOString().substring(0,10)%></td>
                                                        <td>
                                                            <%= walletData.wallet[i].date.toLocaleTimeString() %>
                                                        </td>
                                                        <% if(walletData.wallet[i].transactionType == "Credited") {%>
                                                            <td class="text-success"><%=walletData.wallet[i].transactionType %></td>
                                                            <td class="text-success">+<%= walletData.wallet[i].amount %></td>
                                                        <% } else {%>
                                                            <td class="text-danger">
                                                                <%=walletData.wallet[i].transactionType %>
                                                            </td>
                                                            <td class="text-danger">-<%= walletData.wallet[i].amount %>
                                                            </td>
                                                            <% } %>
                                                    </tbody>
                                                        <% }%>
                                                </table>
                                            </div>
                                                <% }else{ %>
                                                    <p>No transaction</p>
                                                <% } %>    
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="liton_tab_1_4">
                                        <div class="ltn__myaccount-tab-content-inner">
                                            <div>
                                                <a href="/addAddress?page=profile" class="theme-btn-1 btn btn-effect-1">
                                                    <span class="d-inline-block fi">ADD NEW ADDRESS</span>
                                                </a>
                                            </div>
                                            <div class="row mt-5">
                                                <% if(addresses.length > 0) {%>

                                                    <% addresses.forEach((item)=> { %>
                                                        <div class="col-lg-6 col-md-6 pt-3 pb-3 ">
                                                            <div class="card" style="width: 18rem;">
                                                                <div class="card-body">
                                                                    <h5 class="card-title">
                                                                        <%= item.userName %>
                                                                    </h5>
                                                                    <h6 class="card-subtitle mb-2 text-muted">
                                                                        <%=item.mobile%>
                                                                    </h6>
                                                                    <p class="card-text">
                                                                        <%=item.address%>,<%=item.city%> <br>
                                                                                <%=item.state%>,<%=item.pincode%>
                                                                    </p>
                                                                    <a href="/editAddress?id=<%=item._id%>&page=profile" class="btn-outline-success-light"><i class="fas fa-edit"></i>
                                                                        Edit </a>
                                                                        <a href="/deleteAddress?id=<%=item._id%>&page=profile" class="btn-outline-danger"><i class="fas fa-trash"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }) %>
                                                    <% } else { %>
                                                        <p>No address Added..Please Add New Adress</p>
                                                    <% } %>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PRODUCT TAB AREA END -->
            </div>
        </div>
    </div>
</div>


<!-- WISHLIST AREA START -->
<%- include('../partials/userPartials/footer.ejs') %>
<script>
    // Add an event listener to the "Logout" link
    const logoutLink = document.querySelector('a[href="/logout"]');

    if (logoutLink) {
        logoutLink.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default link behavior

            // Show the SweetAlert2 confirmation dialogue box
            Swal.fire({
                title: 'Logout Confirmation',
                text: 'Are you sure you want to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, logout',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user confirms, proceed with the logout action
                    window.location.href = logoutLink.getAttribute('href');
                }
            });
        });
    }
</script>

