<%- include('../partials/userPartials/header.ejs') %>

    <div class="ltn__breadcrumb-area text-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">My Orders</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/"><span class="ltn__secondary-color"><i
                                                class="fas fa-home"></i></span>Home</a></li>
                                <li>My Orders</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="tab-content">

                <div class="ltn__myaccount-tab-content-inner">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>OrderId</th>
                                    <th>Date</th>
                                    <th>Paid Amount</th>
                                    <th>Status</th>
                                    <th>Return/Cancel</th>
                                    <th>Return Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(order=> { %>
                                    <tr>
                                        <td>
                                            <%= order._id %>
                                        </td>
                                        <td>
                                            <%= order.date.toISOString().substring(0,10) %>
                                        </td>
                                        <td>
                                            <%= order.totalAmount %>
                                        </td>
                                        <td>
                                            <% if(order.status =="Cancelled") {%>
                                                <p class="text-danger"><%= order.status %></p>
                                            <% } else if(order.status =="pending") {%>
                                                <p class="text-warning">
                                                    <%= order.status %>
                                                </p>
                                            <% } else if(order.status == 'Delivered'){ %>
                                                <p class="text-success">
                                                    <%= order.status %>
                                                </p>
                                            <% } else if(order.status=='Returned' ){ %>
                                                <p class="text-secondary">
                                                    <%= order.status %>
                                                </p>
                                            <% } else{ %>
                                                    <p class="text-info">
                                                        <%= order.status %>
                                                    </p>
                                            <% } %>  
                                        </td>
                                        <td>
                                            <% if (order.status==="Delivered" ) { %>
                                                <div>
                                                    <a href="/returnOrder?id=<%= order._id %>"><button class="font-sm btn-danger btn-sm">Return</button></a>
                                                </div>
                                                <% }else if(order.status == "Cancelled") {%>
                                                    <div>
                                                        <button class="btn-sm font-sm btn-secondary" disabled>Cancelled</button>
                                                    </div>
                                                <% }else if(order.status=="Returned" ) {%>
                                                    <div>
                                                        <button class="btn-sm font-sm btn-secondary" disabled>Returned</button>
                                                    </div>
                                                <% } else { %>
                                                    <div>
                                                        <button class="btn-sm font-sm btn-danger" onclick="cancel('<%= order._id %>')">Cancel</button>
                                                    </div>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <% if(order.returnStatus == "Approved") {%>
                                                <p class="text-success"><%= order.returnStatus %></p>
                                            <% } else if(order.returnStatus == "Rejected"){ %>
                                                <p class="text-danger"><%= order.returnStatus %></p>
                                            <% } else if(order.returnStatus == "Requested"){ %>
                                                <p class="text-info">
                                                    <%= order.returnStatus %>
                                                </p>
                                            <% } else{ %>
                                                <p class="text-secondary">
                                                    <%= order.returnStatus %>
                                                </p>
                                            <% } %>
                                        </td>
                                        <td><a href="/orderedProduct?id=<%= order._id %>">View Order</a></td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cancel or return functions -->
    <script>
        function cancel(orderId){
            if (confirm("Are you sure you want to cancel this order?")){

                $.ajax({
                    url: "/cancelOrder",
                    data: {
                        orderId: orderId
                    },
                    method: "post",
                    success:(response)=>{
                        if(response.success){
                            toastr.success("Order canceled successfully!", "Success", {
                                timeOut: 3000,
                                closeButton: true,
                                progressBar: true,
                            });
                            location.reload();
                        }
                    }
                });
            }
        }

        // function returnOrder(orderId) {
        //         if (confirm("Are you sure you want to return this order?")) {

        //             $.ajax({
        //                 url: "/returnOrder",
        //                 data: {
        //                     orderId: orderId
        //                 },
        //                 method: "post",
        //                 success: (response) => {
        //                     if (response.success) {
        //                         toastr.success("Order canceled successfully!", "Success", {
        //                             timeOut: 3000,
        //                             closeButton: true,
        //                             progressBar: true,
        //                         });
        //                         location.reload();
        //                     }
        //                 }
        //             });
        //         }
        //     }
    </script>

<%- include('../partials/userPartials/footer.ejs') %>
