<%- include('../partials/userPartials/header.ejs') %>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Shop</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>Shop</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->
    
    <!-- PRODUCT DETAILS AREA START -->
    <div class="ltn__product-area ltn__product-gutter mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="ltn__shop-options">
                        <ul>
                            <li>
                                <div class="ltn__grid-list-tab-menu ">
                                    <div class="nav">
                                        <a class="active show" data-bs-toggle="tab" href="#liton_product_grid"><i class="fas fa-th-large"></i></a>
                                        <a data-bs-toggle="tab" href="#liton_product_list"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                            </li>
                            <!-- <li>
                               <div class="showing-product-number text-right">
                                    <span>Showing 1–12 of 18 results</span>
                                </div> 
                            </li> -->
                            <li>
                               <div class="short-by text-center">
                                    <select class="nice-select" name="price" id="price" onchange="location.href = '/shop?value=' + this.value + '&category=<%= cat %>&search=<%= Search %>'">
                                        <!-- <option>Default Sorting</option>
                                        <option>Sort by popularity</option>
                                        <option>Sort by new arrivals</option> -->
                                        <% if(price === "High"){ %>
                                            <option value="Low" >Sort by price: low to high</option>
                                            <option value="High" selected>Sort by price: high to low</option>
                                        <% } else { %>
                                  -          <option value="Low" selected>Sort by price: low to high</option>
                                            <option value="High">Sort by price: high to low</option>
                                        <% } %>

                                    </select>
                                </div> 
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_product_grid">
                            <div class="ltn__product-tab-content-inner ltn__product-grid-view">
                                <div class="row">
                                    <% product.forEach(value=>{ %>
                                        <!-- ltn__product-item -->
                                        <div class="col-xl-4 col-sm-6 col-6">
                                            <div class="ltn__product-item ltn__product-item-3 text-center ">
                                                <div class="product-img">
                                                    <a href="/productDetails?id=<%= value._id %>"><img src="/adminAsset/productImages/<%= value.images[value.images.length-1] %>" alt="#"></a>
                                                    <div class="product-badge">
                                                        <ul>
                                                            <li class="sale-badge">New</li>
                                                        </ul>
                                                    </div>
                                                    <!-- <div class="product-hover-action">
                                                        <ul>
                                                            <li>
                                                                <a href="/productDetails?id=<%= value._id %>" title="Quick View">
                                                                    <i class="far fa-eye"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/addToCart?id=<%= value._id %>">
                                                                    <i class="fas fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/addToWishlist?id=<%= value._id %>" title="Wishlist">
                                                                    <i class="far fa-heart"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div> -->
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-ratting">
                                                        <ul>
                                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="product-title"><a href="/productDetails?id=<%=value._id%>"><%= value.productName %></a></h2>
                                                    <div class="product-price">
                                                        <span>&#8377;<%= value.price %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                                    <% }) %> 
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="liton_product_list">
                            <div class="ltn__product-tab-content-inner ltn__product-list-view">
                                <div class="row">
                                    <!-- ltn__product-item -->
                                    <% product.forEach((value)=>{ %>
                                    <div class="col-lg-12">
                                        <div class="ltn__product-item ltn__product-item-3">
                                            <div class="product-img">
                                                <a href="/productDetails?id=<%= value._id %>"><img src="/adminAsset/productImages/<%=value.images[value.images.length-1] %>" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h2 class="product-title"><a href="/productDetails?id=<%= value._id %>"><%=value.productName %></a></h2>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="product-price">
                                                    <span>&#8377;<%= value.price %></span>
                                                    <del></del>
                                                </div>
                                                <div class="product-brief">
                                                    <p><%=value.description %></p>
                                                </div>
                                                <!-- <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" title="Add to Cart" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                                                <i class="fas fa-shopping-cart"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                                <i class="far fa-heart"></i></a>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ltn__pagination-area text-center">
                        <div class="ltn__pagination">
                            <ul>
                                <% for(i=0;i<totalPage;i++){ %>
                                    <% if(i+1 == page) { %>
                                        <!-- <li><a href="#" class="active"><i class="fas fa-angle-double-left"></i></a></li> -->

                                        <li><a href="/shop?page=<%= i+1 %>&value=<%= price %>&category=<%= cat %>&search=<%= Search %>" class="active"><%= i+1 %></a></li>
                                    <% } else { %>
                                        <li><a href="/shop?page=<%= i+1 %>&value=<%= price %>&category=<%= cat %>&search=<%= Search %>">
                                                <%= i+1 %>
                                            </a></li>
                                    <% } %>
                                <% } %>
                                <!-- <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar">
                        <!-- Search Widget -->
                        <div class="widget ltn__search-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Search Products</h4>
                            <form action="/shop" method="get">
                                <input type="text" name="search" placeholder="Search your Products...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                        <!-- Category Widget -->
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Product categories</h4>
                            <ul>
                                <li><a href="/shop?category=All&value=<%= price %>&search=<%= Search %>">All<span><i
                                                class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                <% category.forEach(value=>{ %>
                                    <li><a  class="active" href="/shop?category=<%= value.categoryName %>&value=<%= price %>&search=<%= Search %> "><%= value.categoryName %><span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                <% }) %>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT DETAILS AREA END -->
<%- include('../partials/userPartials/footer.ejs') %>
     

